body {
    background: rgb(103, 119, 139);
}

h1 {
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px rgb(200, 200, 200);
    color: rgb(0, 0, 29);
}

h3 {
    margin: 0;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px rgb(200, 200, 200);
    color: rgb(0, 0, 29);
}

h5 {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px rgb(200, 200, 200);
    color: rgb(0, 0, 29);
    background-color: rgb(199, 202, 0);
    width: 700px;
    height: auto;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(0, 0, 29); 
}

footer {
    font-size: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    text-decoration: underline;
    color: rgb(0, 0, 29);
    margin: 0;
}

a {
    color: rgb(0, 0, 150);
}

a:visited {
    color: rgb(0, 0, 150);
}

a:hover {
    color: rgb(104, 39, 165);
}

a:active {
    color: rgb(240, 248, 255);
}

.obtained {
    text-decoration: line-through;
}